@using DataAccess
@model IEnumerable<CardAppViewOperator>


@{
    ViewData["Title"] = "Applications for release";
}
<div id="Bacc">
    @foreach (var item in Model)
    {
       <d1> <p>@item.UserId</p>
        <p>@item.NameCard</p>
        <p>@item.Status </p>
        <p>@item.CardType</p>
        <p>@item.Сurrency</p>
        <p>@item.Description</p>
        <p>@item.CreatedDate</p>
        <p>@item.DecisionDate</p> </d1>
    }
</div>

