@using DataAccess
@model IEnumerable<CardAccount>

@{
    ViewData["Title"] = "Transfer money";
}

<p class="text-center transfer__label transfer__label--info">Transfer money</p>

<form asp-action="transfer" asp-controller="transfers" asp-anti-forgery="true">
    <div>
        <ul>
            @foreach (var item in Model)
            {
                <li class="p transfer__label">Card number: @item.CardNumber (balance: @item.CardBalance)</li>
            }
        </ul>

        <p class="transfer__label transfer__label--info">Where to withdraw money</p>

        <select name="selectCardNumber">
            <option>Choose your card</option>

            @foreach (var item in Model)
            {
                <option>@item.CardNumber</option>
            }
        </select>

        <p class="transfer__label transfer__label--info">Where to transfer</p>

        <div>
            <input name="transferCardNumber" placeholder="Transfer card number" />
            <input type="button" id="btnCardNumber" value="Check" onclick="checkIfCardExists()" />
            <p id="Validation">
                
            </p>
        </div>

        <div>
            <input name="transferBalance" placeholder="Transfer balance" /> <d1>KGS</d1>
        </div>

        <div>
            <button class="transfer__submit">Transfer</button>
        </div>

        <div class="text-center transfer__label--error">
            @Html.ValidationMessage("ErrorMessage_Id")
        </div>
    </div>
</form>

<style>
    .transfer__label {
        font-size: 21px;
    }

    .transfer__label--info {
        background-color: darkgray;
        color: white
    }

    .transfer__label--error {
        color: red;
    }

    .transfer__submit {
        background-color: darkred;
        color: white
    }
</style>
<script>
    async function checkIfCardExists() {
        const element = document.getElementsByName('transferCardNumber');
        const cardNumber = element[0].value;
        const url = '@Url.Action("CheckCardNumber")';
        try {
            const response = await fetch(`${url}?cardNumber=${cardNumber}`)
            if (response.ok) {
                const data = await response.json()

                if ((data.firstName || data.lastName) && data.statusId === 1) {
                    $('#Validation').text(`${data.firstName} ${data.lastName}`);
                } else if (data.userName && data.statusId === 1) {
                    $('#Validation').text(`${data.userName}`);
                } else if (data.statusId !==1) {
                    $('#Validation').text('Card is blocked or frozen');
                }
            } else {
                const error = await response.text()
                $('#Validation').text(error);
            }
        } catch {
            alert("Network error")
        }
    }
</script>
